body{
    	background-image: url('images/bg.jpg');
}

.project{
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.7);
}

.my-custom-scrollbar {
  position: relative;
  height: 350px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

/* common design */
html, body{
    	height: 100vh;
	min-height: 100vh;
}

.foot_{
	box-shadow: 0 0 12px 8px rgba(0,0,0,0.3);
	background-color: #337ab7;
	clear:both;
	position: fixed;
	bottom: 0;
	width: 100%
}

.head_{
	background-color: #337ab7;
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.3);
	width: 100%;
}
