<!DOCTYPE html>
<html>
<head>
<title>About</title>
</head>
<body>
<h1></h1>

<h3>Initial Release</h3>
<hr>
<p>Version 1.0<br>
November 2019<br>
By Aurobindo Debnath, KPMG</p>

<h3>Subsequent Releases</h3>
<hr>
<table border="1">
<tr>
<th>Release Version</th>
<th>Release Date</th>
<th>Release Description</th>
<th>Contributers</th>
</tr>
<tr>
<td> Version 1.1</td>
<td> 2020 </td>
<td>
	<ul>
		<li>About Page Added</li>
		<li>Enhanced input sanitization</li>
		<li><u>Issue Fix</u> : "Application names with spaces causes error"</li>
		<li><u>Issue Fix</u> : "Year 2020 missing from drop down"</li>
		<li>Editable Annexure Name</li>
	</ul>
</td>
<td>
	Names to be entered
</td>
</tr>
</table>

<br><a href="../index.html">Home Page</a>
</body>
</html>